<div class="row-fluid">
  <div class="span5">
    <div class="well">
      <div class="thumbnail">
        <%= image_tag(@image_file, :class => "img-polaroid") %>
        <div class="caption text-center">

          <h3><%= session[:user_name] %></h3>

        </div>
      </div>
      <%= form_for(:upload, :url =>{:action => 'upload_image', :method => 'post'}) do |up| %>
          <%= up.file_field :picture %>
          <%= submit_tag("Change Photo", :class => "btn btn-primary") %>
      <% end %>

      <%= form_for(:poolpicks, :url =>{:action => 'join_pool', :method => 'post'}) do |form| %>
          <h5>Available pools</h5>
          <% if @input %>
              <% @input.each do |p| %>
                  <p><label class="control-label" for="<%= "poolpicks_"+p.id.to_s %>">
                    <%= p.pool_name %>
                    <%= form.check_box(p.id, {}) %>
                  </label></p>
              <% end %>
              <%= submit_tag("Join pool", :class => "btn btn-primary") %>
          <% end %>
      <% end %>
    </div>
  </div>


  <div class="span5">
    <div class="hero-unit">
      <div class="btn-group">
        <a class="btn btn-large dropdown-toggle" data-toggle="dropdown">
          <h4>Your Pools</h4>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @pools.each do |inhere| %>
              <li><%= link_to(inhere.pool_name, :controller => 'schedules', :action => 'week_list', :id => inhere.pool_id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>